@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --pink: pink;
    --exPink: pink;
}

@media screen and (min-width: 540px) {
    .navbar-nav a {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .banner-title {
        font-size: 5rem;
    }

    .banner form {
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .navbar .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .design-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .design-item {
        margin: 0;
    }

    .blog-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .blog-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .design-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}

body {
    line-height: 1.4;
    color: var(--pink);
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/bg0.jpg") center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar {
    padding: 1.2rem;
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}

.navbar-nav {
    padding: 0.8rem 0 0.5rem 0;
    text-align: center;
}
.navbar-brand img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
}
.navbar-nav a {
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 5px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
    opacity: 0.7;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title {
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}

.banner-title span {
    font-family: var(--Playfair);
    color: pink;
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.design {
    padding: 4.5rem 0;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    font-family: var(--Playfair);
    font-size: 2.4rem;
    color: white;
}

.title p {
    text-transform: uppercase;
    padding: 0.6rem 0;
}

/* about us */

.about {
    padding: 4.5rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/bg0.jpg") center/cover no-repeat fixed;
}

.about-text {
    margin: 2rem 0;
}

.about-text>p {
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}

/* blogs */
.blog {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/bg0.jpg") center/cover no-repeat fixed;
    padding: 4.5rem 0;
}

.blog-content {
    margin: 2rem 0;
}

.blog-img {
    position: relative;
}

.blog-img span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exPink);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}

.blog-text {
    margin: 2.2rem 0;
    padding: 0 1rem;
}

.blog-text span {
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}

.blog-text h2 {
    font-family: var(--Playfair);

    font-size: 1.65rem;
    font-weight: 500;
    color: white;
}

.blog-text p {
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}

.read_more {
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--pink);
    display: inline-block;
    background: var(--pink);
    color: black;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
    border: 2px solid pink;
    border-radius: 10px;
}

.read_more:hover {
    border: 2px solid pink;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.description {
    color: white;
}

.btn {
    color: pink;
    text-decoration: none;
    padding: 15px;
    box-shadow: 0 0 15px black;
    border: 1px solid pink;
    border-radius: 12px;
    animation: anima 2s infinite;
}

@keyframes anima {
    0% {
        box-shadow: 0 0 20px black;
    }

    20% {
        box-shadow: 0 0 20px pink;
    }

    40% {
        box-shadow: 0 0 20px black;
    }

    60% {
        box-shadow: 0 0 20px pink;
    }

    80% {
        box-shadow: 0 0 20px black;
    }

    100% {
        box-shadow: 0 0 20px pink;
    }
}

/* Reaction */

.activelike {
    color: blue;
}

.activeheart {
    color: red;
}

.activewow {
    color: darkorange;
}

.activesad {
    color: yellowgreen;
}

.activeangry {
    color: red;
}

/* Footer */

footer {
    background: var(--exPink);
    color: black;
    text-align: center;
    padding: 2rem 0;
}

.footer span {
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}